# Enable development behavior for commands that import the app directly
FASTAPI_ENV=development

PROJECT_NAME="Smart Qbank"

SECRET_KEY=changethis
FIRST_SUPERUSER=superuser_email
FIRST_SUPERUSER_PASSWORD=superuser_password

# Emails
SMTP_HOST=localhost
EMAILS_FROM_EMAIL=info@example.com
SMTP_TLS=False
SMTP_PORT=1025

# Postgres
POSTGRES_PASSWORD=postgres_password
DATABASE_URL=postgres_url
